.zelenskiyRound {
	border-radius: 50%;
}

.zelenskiyShadow {
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .45);
}

img {
	width: 250px;
	margin: 0 10px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	vertical-align: middle;
	border-radius: 5px;
	margin-bottom: 10px;
}

button {
	width: 150px;
}

.zeAnimation {
}

.zeRotate {
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}

div {
	margin-top: 15px;
}

img:hover {
	width: 400px;
	box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, .6);
	transform: translateY(-5%);
	-webkit-transform: translateY(-5%);
}